<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to "Wikinimous", root_path, class: "navbar-brand" %>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-light border'  %>
  </div>
</nav>
